@import '../../sass/main.scss';

.PageNotFound {
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 40px;
    color: $color-secondary;
    &_description {
        @include flex(column, center, center);
        min-height: calc(100vh - 250px);
        &_title {
            font-weight: 700;
            font-size: 288px;
            @media screen and (max-height: 500px) {
                font-size: 140px;               
            }
        }
        &_text {
            font-weight: 500;
            font-size: clamp(20px, 4VW, 36px);
            text-align: center;
        }
        &_home {
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: clamp(12px, 2.5vw, 18px);
        }
    }  
}